/* ========================= menu part start ===================== */

.item img{
    width: 200px;
}
/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */
.main .parr{
    position: absolute;
    top: 50%;
    left: 0;
}
.main .narr{position: absolute;
    top: 50%;
    right:  0;
}
/* ------------------------- menu part end   ---------------------- */
/* ========================= banner part start ===================== */


/* ------------------------- banner part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */
/* ========================= menu part start ===================== */



/* ------------------------- menu part end   ---------------------- */